@{
    Layout = null;
}
@if (ViewBag.ValidationMessage != null) 
{
<div class="alert alert-success">
	@ViewBag.ValidationMessage
</div>
}

@if (ViewBag.ErrorMessages != null) 
{
	foreach(string errorMessage in ViewBag.ErrorMessages.ToString().Split('|')) 
	{
<div class="alert alert-danger">	
	@errorMessage
</div>	
	}
}