@{
    Layout = null;
}
@if (ViewBag.ValidationMessage != null) 
{
<div class="alert alert-success">
	@ViewBag.ValidationMessage
</div>
}

@if (ViewBag.ErrorMessage != null) {
<div class="alert alert-danger">
	@ViewBag.ErrorMessage
</div>
}