@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Client Manager Admin Home</title>
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.css">
</head>
<body >
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Menu</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/admin">Home</a></li>
					<li><a href="/admin/clients" >Clients</a></li>
					<li><a href="/admin/users">Users</a></li>
					<li><a href="/admin/permissions">Permissions</a></li>
				</ul>
			</div>
		</nav>
		<div id="site-content">
			<h2>Client Manager Admin Home</h2>
			<p class="lead">Welcome to the Client Manager Admin.  Click in the menu to edit your client(s), user(s), or permission(s). </p>
		</div>
	</div>
</body>
</html>

