@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>User Search</title>
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.css">
</head>
<body >
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Menu</a>
			</div>
			<div>
				<ul class="nav navbar-nav">
					<li><a href="/admin">Home</a></li>
					<li><a href="/admin/clients" >Clients</a></li>
					<li><a href="/admin/apps" >Apps</a></li>
					<li class="active"><a href="/admin/users">Users</a></li>
					<li><a href="/admin/permissions">Permissions</a></li>
				</ul>
			</div>
		</nav>
		<div id="site-content">
			<h2>User Search</h2>
			<p class="lead">Coming soon!</p>
		</div>
	</div>
</body>
</html>