@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>RazorTest</title>
</head>
<body>
	<p>@ViewBag.Title</p>
	<div>
		Your name is: @Model.Name
	</div>
	<div>
		Your age is: @Model.Age
	</div>
</body>
</html>

